body {
    /* margin: 0;*/
    padding: 0;
    background-color: black;
    color: white;
    overflow: hidden;

}

.container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "right main main ";
}

.header{
    grid-area: header;
}

.right {
    grid-area: right;
}

.main {
    grid-area: main;
}

.logo {
    filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(10000%) hue-rotate(0deg);
}
.yt-logo {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    border: 2px solid white;
    height: 95vh;
    width: 70px;
}

.right p {
    color: white;
    text-align: center;
    font-size: 18px;
    padding-top : 20px;
    font-size: 13.5px;
    align-items: center;
    justify-self: center;
}

.home, .shorts, .subscriptions, .you img{
    filter: invert(1);
}

.you .subscriptions, img {
    width: 24px;
    height: 24px;
}